<h3> {{ catalogue_title	}} by {{ authors }} ({{ year }}) <a href="https://demo.humlab.umu.se/courier/{{issue_filename}}" target="_blank" style="font-weight: bold;color: blue;">PDF</a></h3>
<hr/>
<span style="color: blue;line-height:50%;">
{{ text }}
</span>
<br/>
<hr/>
<i>Courier Id: {{ courier_id }}
Article Id: {{ record_number }} 
Document Id: {{ document_id }} 
Pages: {{ pages }} 
Filename: {{ filename }} 
</i>